/*--------- Noto Sans Font ---------  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* --------- reset CSS --------- */
@import 'reset.css';

/*--------- variables CSS ---------
처음 쓰실때는 복사해서 위에 붙여놓고 하시는게 편합니다.
*/
@import url('variables.css');

/* --------- Components --------- 
공통적으로 쓰이는 header나 footer 사용할 수 있게 하는거에요
*/
@import url('components/main-header.css');
@import url('components/footer.css');

/* --------- Screens --------- */
@import 'screens/store-detail.css';

header, footer {background-color: #FFFFFF;}
header span { color: #1F2937;}

#top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 85px;

    position: absolute;
    width: 294px;
    height: 48px;
    left: 48px;
    top: 103px;

    /* Black&WHite/White */

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
#top i,span {color: #9CA3AF;}

main {padding-top: 172px;}

.slide_box {overflow: hidden; margin: 0 10%;}
.slide_box .slide_list{width: 121.875rem; transition: transform 0.5s;}
.slide_item {width: var(--mobile-width); 
    float: left;}
.slide_item img { height: 106px; width: 80%; object-fit: fill; border-radius: 1.5rem}

.categories {margin: 0 10px;}
.categories .category { background-color: #F3F4F6; border-radius: 1rem;
    width: 64px; height: 64px; display: inline-flex; justify-content: center; align-items: center;
    margin: 10px;}
.categories .category img { height: 20.95px; text-align: center;}
.categories .category a {color: #9CA3AF;}
