#top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 18px;
    margin-bottom: 21px;
    width: 294px;
    height: 48px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
#top i,span {color: var(--text-gray);}

.home--main {padding-top: 103px; margin: 0 30px;}

.slide_box {overflow: hidden; position: relative;}
.slide_box .slide_list{width: 121.875rem;}
.slide_item {width: var(--mobile-width); }
.slide_item img { height: 120px; width: 80%; object-fit: fill; border-radius: 1.5rem;}
.slide_btn_box .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--text-white);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative; bottom: 25px; left: 190px;
  }
.slide_btn_box .active {
    background-color: var(--gray-bg);
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .6} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .6} 
    to {opacity: 1}
  }
  

.categories .category { background-color: var(--light-gray-bg); border-radius: 1rem;
    width: 64px; height: 64px; display: inline-flex; justify-content: center; align-items: center;
    margin: 7px;}
.categories .category img { height: 20.95px; text-align: center;}
.categories .category a {color: var(--text-gray);}

.recommend {display: inline-block; width: 100%; margin: 20px 0;} 
.recommend--nav {display: inline-flex;}
#nav--right { color: var(--main-pink); margin-left: 215px;}
.recommend--list { background-color: var(--light-gray-bg); width: 326px;
    height: 78px; margin: 15px 0;
    border-radius: 1rem;}
