#top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 18px;
    margin-bottom: 21px;
    width: 294px;
    height: 48px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
#top i,span {color: var(--text-gray);}

.home--main {padding-top: 103px; margin: 0 30px;}

.slide__box {
  position: relative;
  overflow: hidden;
  width: 21rem;
  height: 140px;
  border-radius: 1rem;
}
.slide__list {
  display: flex;
  transform: translate(0, 0);
}
.slide__item {
  flex: 0 0 100%;
  list-style: none;
}
.slide__img {
  display: flex;
  width: 100%;
  height: 60%;
  object-fit: cover;
}
.paginations {
  position: absolute;
  right: 0.6rem;
  bottom: 0.5rem;
  padding-top: 1rem;
  text-align: cover;
}
.pagination {
  width: 12px;
  height: 12px;
  border: 0;
  background: rgb(212, 212, 212);
  border-radius: 50%;
}
.pagination:not(:last-child) {
  margin-right: 0.4rem;
}
.pagination.on {
  background: #fcd34d;
}
 
.home__categories { margin: 100px 0; text-align: center;}
.home__categories .category { background-color: var(--light-gray-bg); border-radius: 1rem;
    width: 80px; height: 75px; display: inline-flex; justify-content: center; align-items: center;
    margin: 10px;}
.home__categories .category__img { text-align: center;}
.home__categories .category__img img { height: 30px;}
.home__categories .category__name { font-size: 1rem; }
.home__categories .category a {color: var(--text-gray);}

.recommend {display: inline-block; width: 100%;} 
.recommend--nav {display: inline-flex;}
#nav--right { color: var(--main-pink); margin-left: 200px;}
.recommend--list { background-color: var(--light-gray-bg); width: 326px;
    height: 78px; margin: 20px 0;
    border-radius: 1rem;}

.home__main__kakao { position: fixed; bottom: 125px; left: 280px;}