/* join.php css */

.form_box {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form_box form div {
  display: flex;
  flex-direction: column;
}
.join_email {
  display: flex;
  flex-direction: column;
  margin-top: 6.5rem;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  color: #909090;
}

.join_pw {
  display: flex;
  flex-direction: column;
  margin-top: 1.375rem;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  color: #909090;
}

.join_pw_check {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  color: #909090;
}

.join_nkname {
  display: flex;
  flex-direction: column;
  margin-top: 0.7rem;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  color: #909090;
}

.join_nm {
  display: flex;
  flex-direction: column;
  margin-top: 0.7rem;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  color: #909090;
}

.form_box form div input {
  box-sizing: border-box;
  border: 1px solid #909090;
  border-radius: 25px;
  width: 315px;
  height: 41px;
  padding-left: 10px;
}

.warning_massage {
  display: flex;
  flex-direction: column;
  margin-top: 0.375rem;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #ff6464;
}

.join_insert {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 28px;
  margin-top: 1.5rem;

  width: 326px;
  height: 44px;
  /* Shadow/Lg */

  box-shadow: 0px 10px 15px rgba(123, 97, 255, 0.1),
    0px 4px 6px rgba(123, 97, 255, 0.05);
}

.join_insert button {
  width: 326px;
  height: 24px;

  /* Body Text 2/Semi Bold */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  text-align: center;

  /* Black&WHite/White */
  background: #909090;
  color: #ffffff;
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
  border: 0;
  border-radius: 15px;
}
