.likestore_main { padding-top: 122px; margin: 0 32px;}
.likestore_list .likestore__null__bigfont {font-size: 1.5rem; font-weight: bold;}
.likestore_list .likestore__null__smallfont { font-size: 0.5rem; 
    color: var(--text-gray);}