.listmain { padding-top: 122px; margin: 0 32px;
    /* overflow: hidden;     */
}
.top--list {width: 100vw;}
.top--list .top--item { float: left;
    background-color: var(--light-gray-bg);
    width: 78px; height: 40px;
    display: flex; justify-content: center; align-items: center;
    margin-right: 16px;
    border-radius:0.5rem;
    color: var(--text-gray);}
.top--nav {display: inline-flex;
    margin-top: 35px;
    margin-bottom: 16px;}
#nav--right { color: var(--main-pink); margin-left: 190px;}
.list--item {background-color: var(--light-gray-bg);
    width: 326px; height: 78px;
    border-radius: 12px;
    margin-bottom: 12px;}