.my_addr--main {padding-top: 105px;}
.my_addr--input {width: 100%; display: flex; justify-content: center;}
.my_addr--input .input--top {border: 1px solid var(--text-gray); width: 326px; height: 64px;
    display: flex; justify-content: center; align-items: center;}
.my_addr--input .input--top i {font-size: 1.5rem; color: var(--main-pink); margin-right: 10px;}
.my_addr--input .input--top input[type=text] {border: 0; height: 80%; width: 70%;}

.my_addr--main .my_addr--button {text-align: center; margin-top: 20px;}
.my_addr--button input[type=submit] { border: 1px solid var(--main-pink); border-radius: 1rem; background-color: var(--main-pink); color: var(--text-white);
    cursor: pointer; padding: 20px;}