.my_addr--main {padding-top: 105px;}
.my_addr--main form[method=post] {width: 100%; display: flex; justify-content: center;}
.my_addr--top {border: 1px solid var(--text-gray); width: 326px; height: 64px;
    display: flex; justify-content: center; align-items: center;}
.my_addr--top button { margin-right: 10px; padding: 4px; border: 0; background: none;}
.my_addr--top button i {font-size: 1.5rem; color: var(--main-pink);}
.my_addr--top input[type=text] {border: 0; height: 80%; width: 70%;}