.mypage_id {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  margin-top: 6rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.mypage_user_nm {
  align-items: center;
  /* Header 2 */

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: -0.03em;

  color: #000000;
}

.mypage_user_mail {
  /* Body regular */

  font-family: "Sk-Modernist";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  color: #000000;
}

.arrow_bg {
  border: 10px solid transparent;
  border-left: 10px solid #a1a1a1;
  border-right: none;
}

.myinfo_box_flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.myinfo_box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 110px;
  height: 80px;
  background: #e9e9e9;
  margin-top: 2rem;
  margin-right: 5px;
}

.mypage_text {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  display: flex;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;
  color: #535353;
}

.myinfo_box_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #000000;
}

.myinfo_box_small_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #000000;
}
.myinfo_ogu_intro {
  margin-top: 6rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  text-align: center;

  color: #000000;
  padding-bottom: 1.5rem;
}

.myinfo_login_intro {
  /* Body regular */

  font-family: "Sk-Modernist";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  color: #000000;
}

.myinfo_login_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 54.48px;

  /* Red Color/400 */
  border: 0ch;

  background: #ff6464;
  /* Shadow/Lg */

  box-shadow: 0px 10px 15px rgba(123, 97, 255, 0.1),
    0px 4px 6px rgba(123, 97, 255, 0.05);
  border-radius: 12px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  /* Black&WHite/White */

  color: #ffffff;

  margin-top: 2rem;
  margin-bottom: 2rem;
  /* Inside auto layout */
  cursor: pointer;
}
