.main--box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review--content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review--title {
  padding-top: 100px;
}

.stars-widget {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  font-size: 18px;
}

.stars-widget input {
  display: none;
}

.stars-widget .checked {
  color: var(--star-yellow);
}

.stars-widget label:hover {
  color: var(--star-yellow) gold;
  cursor: pointer;
}
#review_ctnt {
  border: none;
  font-size: 16px;
  padding: 15px;
  outline: none;
  background-color: #e8eeef;
  color: var(--text-gray);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
}
