main {
  padding-top: 6rem;
}

.basket-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basket__box {
  /* border: 1px solid black; */
  border-radius: 12px;
  background-color: #f3f4f6;
  width: 90%;
  height: 95px;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 95px repeat(3, 1fr);
  grid-template-rows: 1fr, 1fr;
  grid-template-areas:
    "a b b b"
    "a c c d";
}

.basket__img {
  grid-area: a;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.basket__menu-nm {
  grid-area: b;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
  font-size: 18px;
}
.basket__nm-price {
  grid-area: c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.basket__store-nm {
  margin: 5px 0;
  color: var(--text-gray);
  font-size: 14px;
}
.basket__price {
  margin: 5px 0;
  color: var(--main-pink);
  font-size: 16px;
}

.basket__menu-count {
  grid-area: d;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  gap: 15px;
  margin: 0 15px 15px 0;
}

img {
  width: 98%;
  height: 98%;
  object-fit: cover;
  border-radius: 50%;
}

.basket__change-count {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-pink);
  color: var(--text-white);
}
