@import "../css/reset.css";
@import "../css/variables.css";
@import "../css/components/image-input.css";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
:root {
  /* ====== Mobile Colors ====== */
  --main-pink: #ff6464;
  --main-green: #10b981;
  --star-yellow: #fcd34d; /*별점과 그래프에 쓰이는 노랑*/
  --gray-bg: #9ca3af;
  --border-color: #c4c4c4;
  --white-bg: #fdfdfd;

  /* ====== Web Colors ======  */
  --dark-bg: #282828;
  --dark-yellow: #ffb03a; /* 관리자페이지에 쓰이는 노랑*/

  /* ====== Text Colors ====== */
  --text-dark-gray: #1f2937;
  --text-white: #fdfdfd;
  --text-gray: #9ca3af;
  --text-light-gray: #cccccc;

  /* ====== Transition ====== */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  background-color: #f5f5f5;
  color: var(--main-text-gray);
}

.wrap {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 5% 95%;
}

.header {
  background-color: var(--dark-bg);
  grid-row: span 2;
  height: 100vh;
  width: 100%;
  color: #fff;
}
.header .logo {
  width: 171px;
  height: 104px;
  left: 65px;
  top: 48px;
}
.header .nav__container {
  margin-bottom: 40px;
}

.header .nav__title {
  display: block;
  padding: 8px 20px;
  margin-bottom: 12px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  display: flex;
  align-items: center;

  /* Light/Greyscale/Disabled text */

  color: #8a8a8a;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.header .nav__list {
  font-size: 16px;
  padding: 0 20px;
}
.header .nav__item {
  margin-bottom: 8px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.header .nav__link {
  color: #fff;
  text-decoration: none;
}
.top-bar {
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 1fr 52px;
  column-gap: 5px;
  align-content: center;
}
.top-bar .search {
  padding: 10px 10px;
}
.top-bar .search .search__form {
  width: 100%;
}
.top-bar .search .search__label {
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
}
.top-bar .search .search__input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #d0d0d0;
}
.top-bar .search .search__input:focus,
.top-bar .search .search__input:hover {
  outline: 0;
  border-color: #999;
}
.top-bar .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.top-bar .profile .profile__icon {
  width: 40px;
  height: 40px;
  background-color: rgb(110, 90, 240);
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  font-family: "Shrikhand", cursive;
  color: #fff;
  font-size: 18px;
}
.main .main__header {
  position: relative;
  font-size: 12px;
  padding: 20px 20px;
  background-color: var(--dark-bg);
}
.main .main__header::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background-color: var(--dark-bg);
}
.main .main__title {
  color: #fff;
  z-index: 1;
  position: relative;
}
.main .listing-card {
  max-width: 1600px;
  margin: 30px auto 60px;
  padding: 0 20px;
}
.main .listing-card__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(504px, 1fr));
  gap: 30px;
}
.main .listing-card__item {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  background-color: var(--white-bg);
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*
.main .listing-card__info {
    
} */
.main .listing-card__name {
  font-size: 18px;
}
.main .listing-card__date {
  color: #333;
  margin-top: 6px;
}
.main .listing-card__form {
  display: grid;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 10px;
}

.btn {
  font-weight: bold;
  color: var(--main-pink);
  background-color: var(--white-bg);
  border: 1px solid var(--main-pink);
  border-radius: 8px;
  width: 3rem;
  height: 1.5rem;
}

.btn:hover {
  font-weight: bold;
  color: white;
  background-color: var(--main-pink);
  border: 1px solid var(--main-pink);
  border-radius: 8px;
  width: 3rem;
  height: 1.5rem;
  cursor: pointer;
}

.listing-card__info--top {
  display: flex;
  justify-content: space-between;
}

.listing-card__item .listing-card__info__week {
  box-sizing: border-box;
  width: 12%;
  height: 94px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--white-bg);
  font-weight: bolder;
}

.listing-card__item .listing-card__info__week.active {
  background-color: var(--main-pink);
  color: var(--text-white);
}

.listing-card__ctnt {
  display: flex;
  justify-content: space-between;
}

.admin_login {
  position: absolute;
  left: 50px;
  bottom: 10px;
}

.store__img {
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  width: 100% !important;
  height: 50% !important;
}
.store__img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.store_img_input {
  display: flex;
  justify-content: space-around;
}

/* --------------------------- 이미지 삽입 ---------------------------*/
.image-form {
  border: 1px solid #dde1e4;
  padding: 40px;
  margin: 24px auto;
  max-width: 552px;
  background: #fff;
}

.image-input__label {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 600;
  display: block;
  margin-bottom: 0.8rem;
}

.image-input__input-wrapper {
  margin-top: 4px;
}

.filereader .image-input__input-wrapper {
  display: flex;
  position: relative;
}

.filereader .image-input__input,
.filereader .image-input__pseudo,
.filereader .image-input__thumb {
  position: relative;
  top: 0;
  left: 0;
  width: 112px;
  height: 112px;
  margin-right: 1.6rem;
}

.filereader .image-input__input {
  position: relative;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.filereader .image-input__pseudo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-pink);
  color: var(--main-pink);
  border-radius: 6px;
  background-color: #f9fafc;
  font-size: var(--font-md);
  font-weight: 600;
}

.filereader .image-input__thumb {
  position: relative;
  border: 1px solid #eaeaee;
  border-radius: 6px;
  object-fit: cover;
  object-position: center;
}

.filereader .image-input__input:focus + .image-input__pseudo {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}
/* -----------------------이미지 삽입 끝------------------------------- */
.menu_img {
  width: 50px !important;
  height: 50px !important;
}

.menu_detail {
  cursor: pointer;
}
